<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boco.dao.UserInfoMapper">

  <resultMap id="BaseResultMap" type="com.boco.model.UserInfo">
    <result column="U_ID" jdbcType="DECIMAL" property="uId" />
    <result column="UNAME" jdbcType="VARCHAR" property="uname" />
    <result column="AGE" jdbcType="DECIMAL" property="age" />
  </resultMap>

  <insert id="insert" parameterType="com.boco.model.UserInfo">
    insert into USER_INFO (U_ID, UNAME, AGE
      )
    values (#{uId,jdbcType=DECIMAL}, #{uname,jdbcType=VARCHAR}, #{age,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boco.model.UserInfo">
    insert into USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        U_ID,
      </if>
      <if test="uname != null">
        UNAME,
      </if>
      <if test="age != null">
        AGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=DECIMAL},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.boco.model.UserInfo">
    update user_info
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.boco.model.UserInfo">
    update user_info
    set uname = #{uname,jdbcType=VARCHAR},
    age =
    #{age,jdbcType=DECIMAL}
    where id = #{id,jdbcType=DECIMAL}
  </update>

  <resultMap extends="BaseResultMap" id="UserCourseMap" type="com.boco.model.UserInfo">
    <collection javaType="list" ofType="com.boco.model.CourseInfo" property="courseInfos">
      <id column="course_id" jdbcType="DECIMAL" property="id" />
      <result column="cname" jdbcType="VARCHAR" property="cname" />
    </collection>

  </resultMap>
  <select id="selectAll" resultMap="UserCourseMap">
    select u.u_id, u.uname,
    u.age, c.c_id,c.cname from user_info u left
    join user_course cu on u.u_id = cu.u_id
    left join course_info c on
    c.c_id = cu.c_id
  </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.boco.model.UserInfo">
        select uname,age from user_info where u_id = #{uId,jdbcType=DECIMAL}
    </select>
</mapper>